@tailwind base;
@tailwind components;
@tailwind utilities;

:placeholder {
  font-style: italic;
  font-size: 16px;
  color: mediumspringgreen;
}

:root {
  --foreground-rgb: 0, 12, 0;
  --background-hex: #faf0a2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-hex: #1d1926;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-hex);
  margin: 0;
  padding: 0;
}

.chatbox {
  width: 300px;
  height: 100%;
  border: 4px solid #ccc;
  background-color: darkslategrey;
}

.chat-messages {
  overflow-y: scroll;
}

.user-message {
  background-color: green;
  margin: 8px 0px;
  border-radius: 4px;
}

.other-message {
  background-color: red;
  margin: 8px 0px;
  border-radius: 4px;
}

.chat-inputs {
  align-items: center;
  padding: 10px;
}
